#drop-down-form {
  background-color: transparent;
  color: #787377;
  width: 30%;
  height: 30%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 500px) {
  #drop-down-form {
    width: 50%;
  }
}
