#logo {
  width: 15%;
  height: 20%;
}

.header-middle .container .row {
  margin-left: 0;
  margin-right: 0;
  padding-top: 1rem;
}

.header-middle .container .row .col-sm-4 {
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
  padding-right: 0;
}

.shop-menu ul li {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-right: 0;
}

.navbar-links:hover {
  text-decoration: none !important;
}

.mobile-nav {
  color: white !important;
}

#mobile-all-wrapper {
  display: none !important;
}

#tooltip {
  background-color: #cc7250;
  border-radius: 25px;
}

@media screen and (max-width: 500px) {
  @keyframes pulse {
    0% {
      background-color: #151215;
    }
    50% {
      background-color: #2c282c;
    }
    50% {
      background-color: #cc7250;
    }
  }
  .dt-menu {
    display: none !important;
  }
  #mobile-all-wrapper {
    display: block !important;
  }

  .mobile-menu-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0rem 0.5rem 0rem;
  }

  #mobile-logo {
    width: 35%;
  }
  #open-icon-wrapper {
    margin-top: 1rem;
  }
  #open-icon {
    width: 300px;
  }

  #mw-menu {
    background-color: #1b181b !important;
  }
  .hide-mobile-inner {
    display: none;
  }
  .mobile-inner {
    display: flex;
    justify-content: center;
    background-color: #f8f8ff;
    position: absolute;
    z-index: 1;
    left: -1px;
    right: 0px;
    background-color: #151215;
    animation: pulse 5s infinite;
  }
  #mobile-2nd-inner {
    padding: 2rem 0rem 2rem 0rem;
    color: #787377;
    text-align: center;
  }
}
