.card {
  background-color: #1b181b !important;
}

#paginator-ultimate-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 4rem;
}

#paginator-wrapper {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

#video-container {
  /* background-color: #aea9ad; */
  margin-left: 0.5rem;
}
#video-container video::-webkit-media-controls-mute-button {
  display: none !important;
}

#video-container video::--webkit-media-controls-mute-button {
  display: none !important;
}

video::--webkit-media-controls-mute-button {
  display: none !important;
}
video::-webkit-media-controls-mute-button {
  display: none !important;
}

#bis-image {
  width: 350px;
}

@media screen and (max-width: 700px) {
  #paginator-ultimate-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 4rem;
  }
  #paginator-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .service-image {
    margin-top: 2rem;
    height: 320px;
  }
  #video-container {
    margin-top: 2rem;
  }

  .portfolio-image {
    display: flex;
    justify-content: center;
  }

  .row.video-row {
    display: block !important;
    margin: 0;
  }
}
