/* .service-image {
  opacity: 0.5;
} */

.service-image:hover {
  opacity: 1;
}
.more-info-text {
  text-align: center;
}

#icons-img {
  width: 60%;
}

@media screen and (max-width: 500px) {
  .feature-image {
    height: 300px;
  }
  .more-info-text {
    font-size: 14px;
  }
  .row {
    display: flex;
  }
  .information-section > .container {
    padding-top: 0;
  }
}
